@model ContractStore.Models.People.Person

@using (Html.BeginForm("AddPerson", "Person", FormMethod.Post))
{
<div class="form-horizontal">
    <h4>Új személy hozzáadása</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.NamePrefix, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NamePrefix, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NamePrefix, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MotherName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthPlace, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BirthPlace, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BirthPlace, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.BirthDate.Year,
                                           Enumerable.Range(1900, 115)
                                               .Select(i => new SelectListItem
                                               {
                                                   Value = i.ToString(),
                                                   Text = i.ToString()
                                               }), "Év")

            @Html.DropDownListFor(model => model.BirthDate.Month,
                                           Enumerable.Range(1, 12)
                                               .Select(i => new SelectListItem
                                               {
                                                   Value = i.ToString(),
                                                   Text = i.ToString()
                                               }), "Hónap")

            @Html.DropDownListFor(model => model.BirthDate.Day,
                                            Enumerable.Range(1, 31)
                                                .Select(i => new SelectListItem
                                                {
                                                    Value = i.ToString(),
                                                    Text = i.ToString()
                                                }), "Nap")
        </div>

        <div class="form-group">
            <br><br />
            @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> Nations = new List<SelectListItem>();
                    Nations.Add(new SelectListItem
                    {
                        Text = "Magyar"
                    });
                    Nations.Add(new SelectListItem
                    {
                        Text = "Német"
                    });
                    Nations.Add(new SelectListItem
                    {
                        Text = "Horvát"
                    });
                }

                @Html.DropDownListFor(model => model.Nationality, Nations, "Állampolgárság")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> Genders = new List<SelectListItem>();
                    Genders.Add(new SelectListItem
                    {
                        Text = "Férfi"
                    });
                    Genders.Add(new SelectListItem
                    {
                        Text = "Nő"
                    });
                }

                @Html.DropDownListFor(model => model.Gender, Genders, "Nem")
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Mentés" class="btn btn-default" />
        </div>
    </div>
</div>
}

@Html.ActionLink("Vissza", "Index")
