@model IEnumerable<ContractStore.Models.People.Person>

<h1>Természetes személyek</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WornName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamePrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
    </tr>

    @foreach (var person in Model)
    {
<tr>
    <td>
        @person.NamePrefix @person.LastName @person.FirstName @*WornName*@
    </td>
    <td>
        @Html.DisplayFor(modelItem => person.NamePrefix)
    </td>
    <td>
        @Html.DisplayFor(modelItem => person.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => person.FirstName)
    </td>
    <td>
        @person.LastName @person.FirstName @*BirthName*@
    </td>
    <td>
        @Html.DisplayFor(modelItem => person.MotherName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => person.Nationality)
    </td>
    <td>
        @Html.DisplayFor(modelItem => person.BirthPlace)
    </td>
    <td>
        @person.BirthDate.ToShortDateString()
    </td>
    <td>
        @Html.DisplayFor(modelItem => person.Gender)
    </td>
</tr>
    }

</table>

<br />

@Html.ActionLink("Személy hozzáadása", "AddPerson")