@model IEnumerable<ContractStore.Models.People.Person>

<h1>People</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
    </tr>

    @foreach (var person in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.LastName)
            </td>
            <td>
                <!--<span>@person.BirthDate.Year. @person.BirthDate.Month. @person.BirthDate.Day.</span>-->
                @person.BirthDate.ToShortDateString()
            </td>
        </tr>
    }

</table>

<br />

@Html.ActionLink("Add", "AddPerson")